*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Palanquin', sans-serif;
  

}

.hero-section{
  width: 100%;
  height: 748px;
  background: linear-gradient(180deg,#FCFCF7 6%, #F5EEAD 94%);
 overflow: hidden;
 position: relative;

}

.navber{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
 gap: 70px;

  margin-top: 20px;
}
h1{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 25px;
  font-weight: 900;
  color: #000000;

  margin-left: 30px;

}

h1 img{
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.nav{
  min-width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
 
  font-size: 20px;
  font-weight: 900;
  color: #000000;
  column-gap: 45px;
  margin-top: 10px;
  background: transparent;

}
.nav a{
  text-decoration: none;
  color: #000000;
}
.nav a:active{
  color: yellow;
}

.nav p{
    height: 20px;
    width: 20px;
    visibility: hidden;
  }
#active{
  color: yellow;
  border-bottom: 2px solid rgb(227, 252, 83);
}
.search-bar{
  width: 350px;
  height: 50px;
  background: transparent;

  margin-top: 10px;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  outline: none;
  
}
.search-bar input{
  width:80%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
  padding-left: 20px;
    background-color: beige;
  
}
.search-bar button{
  width: 20%;
  height: 100%;
  border: none;
  outline: none;
  background: #9a9797;
  color: #FFFFFF;
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;

}
.search-bar button:active{
  opacity: 0.7;
}
.cart{
  width: 40px;
  height: 40px;
  background: transparent;
  position: relative;
  cursor: pointer;
  margin-top: 10px;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.cart img{
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.cart h1{
  position: absolute;
  left: 5px;
  top: -7px;
  color: rgb(205, 3, 3);
}
.cart:active{
  opacity: 0.7;
  color: #FFFFFF;
}

.AC{
  width: fit-content;
  height: 40px;
  margin-top: 10px;
}

.AC .log{
  width: 100px;
  height: 40px;
  background: transparent;
  font-size: 15px;
  border: 1px solid #000000;
  font-weight: 600;
  color: #000000;
  cursor: pointer;
}
.AC .log:active{
  opacity: 0.7;
  color: #FFFFFF;
}

.AC .reg:active{
  opacity: 0.7;
  color: #FFFFFF;
}

.AC .reg{
    width: 100px;
  height: 40px;
  background: transparent;
  font-size: 15px;
  border: none;
  outline: none;
  font-weight: 600;
  color: #000000;
  cursor: pointer;
}

.hero-content{
  width: 80%;
  height: 600px;
  display: flex;

  align-items: center;
  justify-content: space-evenly;
 
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.hero-content .hero-left{
  width: 35%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items:start ;
  justify-content: center;
  gap: 30px;

}

.hero-left h1{
  font-size: 50px;
  font-weight: bold;
  line-height: 120%;
  align-items: start;
}
.hero-left p{
  font-size: 18px;
  color: #000000;
  line-height: 1.5;
}
.hero-left button{
  width: 150px;
  height: 50px;
  background: #000000;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
}
.hero-left
button:active{
  opacity: 0.7;
}
.hero-content .hero-right{
  width: 400px;
  height: 400px;
}

.hero-right img{
  width: 400px;
  height: 400px;
  background-size: cover;
}

.cata{
 margin-left: 80px;
 margin-top: 30px;
 font-size: 30px;
 font-weight: 800;
 border-bottom: 3px solid #000000;
 width: 190px;
}

.catagory{
  width: 70%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color:transparent;
  margin-bottom: 50px;
  overflow: hidden;
}
.cata-box{
  width: 192px;
  height: 165px;
  border-radius: 20px;
 
}
.cata-box:active{
  opacity: 0.7;
}

.cata-box img{
  width: 192px;
  height: 165px;
  border-radius: 20px;
  object-fit: cover;
  cursor: pointer;
}

#hero-2 {

  height: 400px;
  width: 80%;
    background-image: url("./img/Screen\ Shot\ 2024-03-28\ at\ 8.57\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  overflow: hidden;

}
#hero-2-img{
  width: 250px;
  height: 250px;
}
#hero-2-img img{
  width: 250px;
  height: 250px;
 background-size: cover;
}
.hero-2-text{

  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
}

.hero-2-text h1{
  font-size: 40px;
  font-weight: 800;
  line-height: 120%;
  color: forestgreen;
}
.hero-2-text span{
font-size: 40px;
  font-weight: 800;
  line-height: 120%;
  color: #000000;
}
.hero-2-text button{
  width: 150px;
  height: 50px;
  background: #000000;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
}
.hero-2-text button:active{
  opacity: 0.7;
}

.product-nav{
  width: 600px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 150px;
  margin-bottom: 30px;
 
}
.product-nav h2{

  font-size: 30px;
  font-weight: 700;
  color: #000000;
}
.product-links{
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  margin-top: 10px;
  margin-left: 50px;
}
.product-links a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
 
}
.product-links a:hover{
  border-bottom: 2px solid #000000;
}
.product-links a:active{
  color: yellow;
}


.product-section{
  width: 80%;
  min-height: 800px;
  background: linear-gradient(180deg,#FCFCF7 6%, #F5EEAD 94%);
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 50px;
  overflow: hidden;

}
.product-card{
  width: 220px;
  height: 350px;
  background: #FFFFFF;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-card img{
  width: 180px;
  height: 150px;
  background-size: cover;
}
.product-card h3{
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}
.product-card p{
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}
.product-card button{
  width: 120px;
  height: 40px;
  background: #000000;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
}
.product-card button:active{
  opacity: 0.7;
}


.shop-now{
  width: 150px;
  height: 50px;
  background: #F5EEAD ;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 20px;
  margin-top: 30px;
}
.shop-now:active{
  opacity: 0.7;
}

.foot-nav{
  width: 80%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #DEF1BD;
  margin-bottom: 10px;
  overflow: hidden;
}
.e-box{
  width: 350px;
  height: 40px;
    position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-evenly;

}

.e-box input{
  width: 200px;
  height: 30px;
  border: 2px solid #FFFFFF;
  background: transparent;

  padding-left: 30px;
  
  
}
.e-box img{
  width: 20px;
  height: 15px;
   left: 25px; 
  position: absolute;
  background-size: cover;
}
/*  */
.e-box .sub-btn{
  width: 80px;
  height: 30px;
  background: #ffffff;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  border: none;
  outline: none;
 
  margin-right: 10px;
  cursor: pointer;
}
.e-box .sub-btn:active{
  opacity: 0.7;
}
.foot-nav h2{
  font-size: 16px;
  font-weight: 500;
  color: #5f5d5d;
}

.footer{
  width: 100%;
  min-height: 250px;
  background-color: #FFFFFF;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  margin-bottom: 0px;
  overflow: hidden;
}

.footer .foot-box{
  min-height: 250px;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;

}
.foot-box .foot-logo{
  display: flex;
  align-items: center;
  gap: 10px;
}

 .foot-box .foot-logo h3{
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}
.foot-logo img{
  width: 40px;
  height: 40px;
  background-size: cover;
}
.foot-box ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}
.foot-box ul p{
  font-size: 16px;
  font-weight: 500;
  color: #646161;
}

.foot-box .pay-box{

  min-width: 150px;
  height: 70px;
}
.pay-box img{
  width: 150px;
  height: 70px;
  background-size: cover;
  cursor: pointer;
}
.footer .foot-box2{

  min-height: 250px;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
}

.foot-box2 h2{
  font-size: 15px;
  font-weight:600;
  color: #2b2a2a;
}
.foot-box2 ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}
.foot-box2 ul p{
  font-size: 14px;
  font-weight: 500;
  color: #646161;
}

.foot-box2 ul li{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.foot-box2 ul li img{
  width: 20px;
  height: 20px;
  background-size: cover;
  margin-right: 10px;
  cursor: pointer;
}

.foot-bottom{
  width: 80%;
  height: 50px;
 
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #000000;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  overflow: hidden;

}





.foot-bottom p{
  font-size: 14px;
  font-weight: 500;
  color: #646161;
}


/* login page */
.log-page,
.reg-page{
  position: absolute;
  z-index: 99;
  min-height: 300px;
  padding: 20px 0px 20px 0px;
  width: 400px;
  background-color: rgb(255, 255, 255);
  left: 500px;
  position: fixed;
  margin-top: 100px;
  border-radius: 20px;
  border: none;
  outline: none;
  visibility: hidden;
}
.log-page span,
.reg-page span{
  position: absolute;
  right: 30px;
  top: 10px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  color: #646161;
}
.log-page h2,
.reg-page h2{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #efe484;
  margin-top: 20px;
  
}
.log-page h1,
.reg-page h1{
   text-align: center;
  font-size: 35px;
  font-weight: 700;
  color: #15e226;
  padding-left: 25px;
 
}
#email,
#name{
  width: 80%;
  height: 40px;
  border-radius: 20px;
  padding-left: 25px;
  border: none;
  outline: none;
font-weight: 600;
  margin-left: 10%;
  margin-top: 20px;
  background-color: #dbd9d9;
}
#pass,
#Cpass{
    width: 80%;
  height: 40px;
  border-radius: 20px;
  padding-left: 25px;
  border: none;
  outline: none;
font-weight: 600;
  margin-left: 10%;
  margin-top: 20px;
  background-color: #dbd9d9;
}

.Submit{
  width: 80px;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  background-color: #efe484;
  color: #FFFFFF;
  border: none;
  outline: none;
   margin-left: 160px;
  margin-top: 20px;
  cursor: pointer;
}
.Submit:active{
  opacity: 0.7;
}
.hide{
  visibility: hidden;
}
.Active{
  visibility: visible;
 
}


@media screen and (max-width: 768px) {

  /* Reset and Layout Basics */
  body {
    overflow-x: hidden;
    font-size: 16px;
  }

  .hero-section {
     min-height: 748px;
     height: auto;
    padding: 40px 0 60px;
    background: linear-gradient(180deg, #FCFCF7 6%, #F5EEAD 94%);
  }

  /* Navbar */
  .navber {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px 0;
    height: auto;
  }

  h1 {
    font-size: 22px;
    font-weight: 800;
    margin: 0;
    justify-content: center;
  }

  .nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    font-size: 18px;
  }
  
  .nav p{
    height: 20px;
    width: 20px;
    visibility: visible;

  }
  .menu-ac{
    visibility: visible;
    
  }
  .nav p img{
    width: 100%;
    height: 100%;
   background-size: cover;
  }
  .search-bar {
    width: 90%;
    height: 45px;
    border-radius: 30px;
  }

  .search-bar input {
    width: 75%;
    font-size: 16px;
    padding-left: 15px;
  }

  .search-bar button {
    width: 25%;
    font-size: 16px;
  }
  
  .cart{
    visibility: hidden;
  }
 
  .AC {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    visibility: hidden;
  }

  .AC .log, .AC .reg {
    width: 110px;
    height: 38px;
    font-size: 14px;
    border-radius: 20px;
  }

  /* Hero Section */
  .hero-content {
    flex-direction: column;
    width: 90%;
    height: auto;
    gap: 40px;
    margin: 0 auto;
    text-align: center;
  }

  .hero-left {
    width: 100%;
    align-items: center;
  }

  .hero-left h1 {
    font-size: 32px;
    line-height: 1.3;
  }

  .hero-left p {
    font-size: 16px;
    line-height: 1.6;
    width: 90%;
    color: #333;
  }

  .hero-left button {
    width: 160px;
    height: 45px;
    border-radius: 25px;
    transition: background 0.3s ease;
  }

  .hero-right {
    width: 280px;
    height: 280px;
  }

  .hero-right img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* Categories */
  .cata {
    margin: 30px auto 10px;
    text-align: center;
    font-size: 26px;
    font-weight: 800;
    border-bottom: 3px solid #000;
    width: fit-content;
  }

  .catagory {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 90%;
    height: auto;
  }

  .cata-box {
    width: 45%;
    height: 140px;
  }

  .cata-box img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }

  /* Hero Section 2 */
  #hero-2 {
    flex-direction: column;
    width: 90%;
    height: auto;
    background-size: cover;
    padding: 30px 10px;
    border-radius: 20px;
  }

  #hero-2-img img {
    width: 200px;
    height: 200px;
  }

  .hero-2-text {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .hero-2-text h1,
  .hero-2-text span {
    font-size: 28px;
  }

  .hero-2-text button {
    width: 150px;
    height: 45px;
    border-radius: 25px;
  }

  /* Product Section */
  .product-nav {
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 10px;
    margin: 20px 0;
    margin-bottom: 100px;
  
  }

  .product-nav h2 {
    font-size: 24px;
  }

  .product-links {
    margin-bottom: 20px;
    justify-content: center;
    gap: 15px;
      
  }

  .product-section {
    width: 95%;
    justify-content: center;
    gap: 25px;
    padding-bottom: 30px;
  }

  .product-card {
    width: 46%;
    height: 310px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    transition: transform 0.3s ease;
  }

  .product-card:hover {
    transform: translateY(-3px);
  }

  .product-card img {
    width: 100%;
    height: 150px;
    object-fit: contain;
  }

  .product-card h3 {
    font-size: 18px;
  }

  .product-card p {
    font-size: 16px;
  }

  .product-card button {
    width: 120px;
    height: 40px;
    border-radius: 20px;
  }

  /* Shop Now Button */
  .shop-now {
    width: 160px;
    height: 45px;
    font-size: 16px;
    margin: 30px auto;
  }

  /* Footer */
  .foot-nav {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
    height: auto;
  }

  .e-box {
    flex-direction: column;
    width: 90%;
    gap: 10px;
    margin-bottom: 10px;
  }

  .e-box input {
    width: 100%;
    font-size: 14px;
  }
  .e-box img{
    left: 5px;
    top: 8px;
  }
  

  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
    padding: 30px 0;
  }

  .foot-box, .foot-box2 {
    align-items: center;
  }

  .foot-logo img {
    width: 35px;
    height: 35px;
  }

  .foot-box ul, .foot-box2 ul {
    align-items: center;
  }

  .foot-bottom {
    flex-direction: column;
    height: auto;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #000;
  }

  .foot-bottom p {
    font-size: 13px;
  }
  /* loginpage */
/* login page */
.log-page,
.reg-page{
 
  z-index: 99;
  min-height: 300px;
  padding: 20px 0px 20px 0px;
  width: 400px;
  background-color: rgb(255, 255, 255);
  left: 25px;

  margin-top: -100px;

  outline: none;
  visibility: hidden;
}
.log-page span{
  position: absolute;
  right: 30px;
  top: 10px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  color: #646161;
}
.log-page h2{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #efe484;
  margin-top: 20px;
  
}
.log-page h1{
   text-align: center;
  font-size: 35px;
  font-weight: 700;
  color: #15e226;
  padding-left: 25px;
 
}
#email{
  width: 80%;
  height: 40px;
  border-radius: 20px;
  padding-left: 25px;
  border: none;
  outline: none;
font-weight: 600;
  margin-left: 10%;
  margin-top: 20px;
  background-color: #dbd9d9;
}
#pass{
    width: 80%;
  height: 40px;
  border-radius: 20px;
  padding-left: 25px;
  border: none;
  outline: none;
font-weight: 600;
  margin-left: 10%;
  margin-top: 20px;
  background-color: #dbd9d9;
}

.Submit{
  width: 80px;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  background-color: #efe484;
  color: #FFFFFF;
  border: none;
  outline: none;
   margin-left: 160px;
  margin-top: 20px;
  cursor: pointer;
}
.Submit:active{
  opacity: 0.7;
}
.hide{
  visibility: hidden;
}
.Active{
  visibility: visible;
 
}

}
